.user {
    background:#fff;
    width:60%;
    margin:0 auto;
    padding:30px;
    margin-bottom:20px;
    box-shadow: 10px 10px 12px 0 rgba(46, 60, 73, 0.05);
    }
    .form button {
        background:#02b3e4;
        padding:5px ;
        text-align: center;
        color:#fff;
        font-family:'Work Sans',sans-serif;
        border-radius:4px;
        border:none;
        font-size:15px;
        }   
table {
//    border-collapse: collapse;
   width: 100%;
   }
          
th, td {
    padding: 2px;
    text-align: center;
    border-bottom: 1px solid #ddd;
   } 
   tr:hover {background-color:#f5f5f5;}
.delete {
    background: #ff7777;
    border:none;
    text-align: center;
    font-size:14px;
    padding:4px;
    border-radius:2px;
    margin-right: 2px;
    cursor:pointer;
    outline: none;
    color:#fff;
    }   
    .edit {
        background:#02b3e4;;
        border:none;
        text-align: center;
        font-size:14px;
        padding:4px;
        border-radius:2px;
        margin-left: 2px;
        cursor:pointer;
        margin-left:auto;
        outline: none;
        color:#fff;
        }      