$container-bg-color: #ffffff;
// $input-bg-color:#ffff;

.user-container {
    background:$container-bg-color;
    padding:50px;
    width:20%;
    margin:40px auto;
    box-shadow:0 5px 15px 0 rgba(46, 61, 73, 0.12);
    font-family:'Work Sans',sans-serif;
    }
  .user_heading {
    text-align:center;
    font-weight:400;
    font-size:20px;
    color:#636363;
    }
.form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .form input {
        height:24px;
        padding-left:15px;
        padding-right:15px;
        border: 1px solid #dbe2e8;
        font-size:14px;
        border-radius:2px;
        color:#636363;
        box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
        outline:none;
        // width:80%;
        }
        